.topChart{
    background-color: #100349;
    /* height: 70px; */
}
.container-fluid
{
    padding: 0px;
    margin: 0px;
}
.sizee img
{
    height: 250px;
    width:100%;
}

.cbox {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom:5px;
    cursor: pointer;
    font-size:16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.cbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;

    height: 20px;
    width: 20px;
    border: 1px solid #000;
    background-color: #ffffff;
}
.cbox input:checked ~ .checkmark {
    background-color: #032541;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.cbox input:checked ~ .checkmark:after {
    display: block;
}
.cbox .checkmark:after {
     left:7px;
    width: 5px;
    height: 15px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.btnCus {
    background: #303352;
border: 2px solid #fff;
padding: 2px 0px;
border-radius: 20px;
width: auto;
}

.fa-th-large {
    color: steelblue;
    }
    
    .fa-th-large.active {
    color: deeppink;
    }
    .fa-th {
    color:steelblue;
    }
    
    .fa-th.active {
    color: deeppink;
    }


img {
    /* margin-top: 25px;
    font-size: 21px;
    text-align: center; */

    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}