<!-- <img src="{{val}}" height="200" width="200"> -->


<div class="" *ngIf="fun()=='imgg'">
        <img src="{{val}}" alt="Card image cap" height="400" width="400">
        </div>
 <div class="" *ngIf="fun()=='vid'">




                <video controls width="60%" height="400px" (click)="toggleVideo()" #videoPlayer>
                    <source src="{{val}}" type="video/mp4" /> Browser not supported
                </video>
 </div>

 <div class="" *ngIf="fun()=='pdf'"><object data="assets/media/report.pdf" width="100%" height="700px" type='application/pdf'>
    <p>Sorry, the PDF couldn't be displayed :(</p>
    <a href="../../../assets/media/report.pdf" target="_blank">Click Here</a>
    </object></div>

