<!-- 
 <div class="container-fluid">
    
<header>

<div class="container-fluid pt-3">
  <div class="col-md-12">
      <div class="row">
    <div class="col-md-2"><img class="col-md-5" src="../assets/index.png">Angular</div>
    <div class="col-md-6 pr-0"><form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" style="width:480px" />
        <button class="btn  my-2 my-sm-0 serachclick" type="submit">Search</button>
    </form></div>
    <div class="col-md-1"><a  class="btn btn-primary" *ngIf="isLoggedIn" routerLink="/products">Home</a></div>
    <div class="col-md-1"><a  class="btn btn-primary"  *ngIf="isLoggedIn" routerLink="/cart">Cart</a></div>
    <div class="col-md-1"><a  class="btn btn-primary" *ngIf="!isLoggedIn" routerLink="/login">Login</a>
    <a  class="btn btn-primary" *ngIf="isLoggedIn" (click)="onLogout()"  routerLink="/login">Logout</a></div>
  </div>
</div>
</div>
</header>
       
 <section class="row">
   <div class="col">
     <router-outlet></router-outlet>
   </div>
 </section>

</div> -->



<router-outlet></router-outlet>